#mapid {
 min-height: 100%;
    height: 100%;
   z-index: 1; 
 }
#searchPanel {
   position: absolute;
   left: 20px;
   bottom: 20px;
   border-radius: 25px;
   background-color:rgba(0, 0, 0, 0.5);
   padding: 25px;
   z-index: 2;
   
}
 #wrapper {
   position: relative; 
   min-height: 100%;
    height: 100%;
}